In [1]:
import pandas as pd

In [9]:
stock_df = pd.read_csv('ko_stock_prices.csv')
index_df = pd.read_csv('ko_indexes.csv')

C:\Users\SSAFY\AppData\Local\Temp\ipykernel_7228\3871137413.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  stock_df = pd.read_csv('ko_stock_prices.csv')

In [10]:
stock_df["code"] = stock_df["code"].astype(str).str.zfill(6)

In [22]:
stock_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4529108 entries, 0 to 4529107
Data columns (total 8 columns):
 #   Column  Dtype
---  ------  -----
 0   code    object
 1   date    object
 2   open    float64
 3   high    float64
 4   low     float64
 5   close   float64
 6   volume  float64
 7   change  float64
dtypes: float64(6), object(2)
memory usage: 276.4+ MB

In [24]:
index_df = index_df[index_df["market"].isin(["KS11", "KS200"])]

In [25]:
print(index_df["market"].unique())

['KS11' 'KS200']

In [27]:
merged_df = pd.merge(stock_df, index_df, on="date", how="left", suffixes=("", "_ks11"))

In [28]:
merged_df = merged_df.dropna(subset=["market"])

In [29]:
merged_df

,code,date,open,high,low,close,volume,change,open_ks11,high_ks11,low_ks11,close_ks11,volume_ks11,change_ks11,updown,comp,amount,marcap,market
116,005930,2001-06-11,4330.0,4380.0,4280.0,4280.0,493626.0,-0.042506,612.46,615.41,607.20,608.23,340123834.0,-0.0218,2.0,-13.55,1.711355e+12,2.137698e+14,KS11
117,005930,2001-06-11,4330.0,4380.0,4280.0,4280.0,493626.0,-0.042506,75.95,76.33,75.17,75.27,197160784.0,-0.0249,2.0,-1.92,1.274272e+12,1.879641e+14,KS200
118,005930,2001-06-12,4220.0,4300.0,4210.0,4220.0,483939.0,-0.014019,605.36,611.88,603.91,607.15,319877548.0,-0.0018,2.0,-1.08,1.579309e+12,2.134079e+14,KS11
119,005930,2001-06-12,4220.0,4300.0,4210.0,4220.0,483939.0,-0.014019,74.89,75.78,74.69,75.08,174177478.0,-0.0025,2.0,-0.19,1.063817e+12,1.875352e+14,KS200
120,005930,2001-06-13,4300.0,4310.0,4200.0,4280.0,472921.0,0.014218,611.79,614.05,607.48,614.05,392415108.0,0.0114,1.0,6.90,1.882786e+12,2.157223e+14,KS11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8990733,001527,2025-04-03,8340.0,8340.0,8340.0,8340.0,1.0,-0.021127,326.22,332.96,326.22,332.92,105078126.0,-0.0099,2.0,-3.34,6.746846e+12,1.791244e+15,KS200
8990734,001527,2025-04-04,8300.0,8300.0,8300.0,8300.0,201.0,-0.004796,2450.49,2506.71,2438.02,2465.42,695074881.0,-0.0086,2.0,-21.28,1.074283e+13,2.019897e+15,KS11
8990735,001527,2025-04-04,8300.0,8300.0,8300.0,8300.0,201.0,-0.004796,327.37,335.11,324.84,328.67,133838132.0,-0.0128,2.0,-4.25,8.699469e+12,1.773818e+15,KS200
8990736,001527,2025-04-07,8380.0,8380.0,7500.0,7510.0,2725.0,-0.095181,2359.25,2369.40,2327.01,2328.20,619500714.0,-0.0557,2.0,-137.22,1.050549e+13,1.907592e+15,KS11
8990737,001527,2025-04-07,8380.0,8380.0,7500.0,7510.0,2725.0,-0.095181,313.52,315.30,309.40,309.60,140753696.0,-0.0580,2.0,-19.07,8.389014e+12,1.672901e+15,KS200

In [30]:
merged_df.to_csv("ko_index_puls_stock.csv", index=False)

In [31]:
columns = ["code", "date", "close", "volume", "close_ks11", "market"]
simple_df = merged_df[columns]

In [32]:
simple_df

           code        date   close    volume  close_ks11 market
116      005930  2001-06-11  4280.0  493626.0      608.23   KS11
117      005930  2001-06-11  4280.0  493626.0       75.27  KS200
118      005930  2001-06-12  4220.0  483939.0      607.15   KS11
119      005930  2001-06-12  4220.0  483939.0       75.08  KS200
120      005930  2001-06-13  4280.0  472921.0      614.05   KS11
...         ...         ...     ...       ...         ...    ...
8990733  001527  2025-04-03  8340.0       1.0      332.92  KS200
8990734  001527  2025-04-04  8300.0     201.0     2465.42   KS11
8990735  001527  2025-04-04  8300.0     201.0      328.67  KS200
8990736  001527  2025-04-07  7510.0    2725.0     2328.20   KS11
8990737  001527  2025-04-07  7510.0    2725.0      309.60  KS200

[8923264 rows x 6 columns]

In [ ]:
simple_df.to_csv("simple_stock_data.csv", index=False)